 

body{
	font-family: Tahoma;
}

.wrapper{
	width: 400px;
	/*height: 550px;*/
	margin: 20px auto;
	border: 2px solid #000;
}

h1{
	font-size: 22px;
	text-align: center;
	margin-top: 20px;
	font-weight: 400;
}

img{
	display: block;
	width: 245px;
	height: 280px;
	margin: 20px auto ;

}
button{
	display: block;
	text-align: center;
	color :#fff;
}

.price{
	font-size: 31px;
	text-align: center;
}

.loan{
	font-size: 22px;
	width: 190px;
	height: 31px;
	background-color: #8bc144;
	margin: 20px auto 20px 3px;
	outline: 0;
	border: 0;
	box-shadow: -2px 2px 0px 0px rgba(156,156,156,1)
}

.buy{
	font-size: 28px;
	background-color: #ff0000;
	width: 228px;
	height: 46px;
	margin: 20px auto 20px;
	outline: 0;
	border: 0;
	box-shadow: 0px 3px 0px 0px rgba(133,0,0,1)
}

